/*
 * -------------------------------------------------
 *  nf-fragmentomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Manifest
manifest {
	name = "nf-fragmentomics"
	author = "Davide Rambaldi"
	version = "0.1.1"
	mainScript = 'main.nf'
}
params.manifest = manifest

// Global default params, used in configs
params {

	// Workflow flags
  	outdir = null
	input  = null
	targets = null

	// Genome
	genome_2bit = null
	genome_size = 0
	chr_sizes = null

	// Hosekeeping
	housekeeping_bed = null

	// Blacklist (mappability)
	blacklist_bed = null

	// Bin and region params
	bin_size = 2
	target_expand_sx = 4000
	target_expand_dx = 4000	
	filter_min       = 90
	filter_max       = 150
}

// Reference and annotation files
includeConfig 'conf/params.config'
// HPC profiles
includeConfig 'conf/profiles.config'