/*
 *
 * -------------------------------------------------
 *  nf-fragmentomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 *
 */

// Manifest
manifest {
	name = 'nf-fragmentomics'
	description = 'Nextflow pipeline for fragmentomics analysis'
	homePage = 'https://github.com/sottorivalab/nf-fragmentomics'
	mainScript = 'main.nf'
	defaultBranch = 'main'
	version = '0.1.1'
	license = 'MIT'
	nextflowVersion='>=24.9.0'

	contributors = [
		[
			name: 'Davide Rambaldi',
			affiliation: 'Human Technopole',
			email: 'davide.rambaldi@gmail.com',
			github: 'tucano',
			contribution: ['author'], // List of contribution types ('author', 'maintainer' or 'contributor')
			orcid: '0000-0002-1927-3645'
		]
	]						
}

includeConfig 'conf/params.config'
includeConfig 'conf/profiles.config'
