conda.enabled = true

executor {
	queueSize = 200
	submitRateLimit = '1sec'
}

params {
	outdir           = "./results"
	genome_2bit      = "/scratch/davide.rambaldi/nf-fragmentomics_sandbox/references/GRCh38.2bit"
	genome_size      = 2913022398
	chr_sizes        = "/scratch/davide.rambaldi/nf-fragmentomics_sandbox/references/GRCh38.sizes"
	blacklist_bed    = '/scratch/davide.rambaldi/nf-fragmentomics_sandbox/references/ENCODE_Blacklist_V2.bed'
	bin_size         = 2
	target_expand_sx = 4000
	target_expand_dx = 4000
}

profiles {
	testing {
		stubRun = true
		process {
			memory = 1.GB
    		cpus = 1    
		}    	
	}

	development {
		process {
			memory = 4.GB	
			cpus = 1
			executor = "local"
		}
	}

	production {
		
		scratch = "\$TMPDIR"

		process {
			withLabel: 'local_executor' {
				executor = "local"
				memory = 8.GB
    			cpus = 1    
			}

			withLabel: 'heavy_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 4
				memory = 12.GB
				time = '4h'
			}

			withLabel: 'normal_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 2
				memory = 8.GB
				time = '2h'
			}

			withLabel: 'light_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 1
				memory = 4.GB
				time = '1h'
			}
		}
	}
}
