/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Base URL for test data
    test_data_base                    = 'https://raw.githubusercontent.com/tucano/test-datasets/modules'
    modules_testdata_base_path        = 'https://raw.githubusercontent.com/tucano/test-datasets/modules/data/'
    module_args                       = ''
}

process {
    resourceLimits = [
        cpus: 1,
        memory: 4.GB
    ]
}

profiles {
    conda {
        process.conda = "${projectDir}/environment.yml"
    }
}
