process {
        
    withName: BAMPEFRAGMENTSIZE {
        publishDir = [
            path: { "${params.outdir}/${meta.caseid}/${meta.sampleid}/fragmentomics/reports/"},
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLOTCOVERAGE {
        publishDir = [
            path: { "${params.outdir}/${meta.caseid}/${meta.sampleid}/fragmentomics/reports/" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FILTERBAMBYSIZE {
        publishDir = [
            enabled: false
        ]
    }

    withName: COMPUTEGCBIAS {
        publishDir = [
            enabled: false
        ]
    }

    withName: CORRECTGCBIAS {
        publishDir = [
            path: { "${params.outdir}/${meta.caseid}/${meta.sampleid}/fragmentomics/processed/bam" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COVERAGEBAM {
        publishDir = [
            path: { "${params.outdir}/${meta.caseid}/${meta.sampleid}/fragmentomics/processed/bw" },
            mode: params.publish_dir_mode,
            overwrite: params.publish_dir_overwrite,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}