// pipeline genome parameters and reference files
params {
	// outdir: output directory
  	outdir = null
	// input: input samplesheet.csv
	input  = null
	// targets: target.csv file
	targets = null
	// genome_2bit: 2bit file of the reference genome
	genome_2bit      = "/group/sottoriva/davide.rambaldi/fragmentomics/reference/GRCh38.2bit"    
	// blacklist_bed: ENCODE blacklist regions
	blacklist_bed    = '/group/sottoriva/davide.rambaldi/fragmentomics/datasets/encode_mappability/ENCODE_Blacklist_V2.bed'
	// preprocess: if true, preprocess the input data to bw
	preprocess       = true
	// genome_size: size of the reference genome
	genome_size      = 2913022398
	// bin_size: bin size for the bw files
	bin_size         = 2
	// target_expand_sx: bp to expand on the left of the target
	target_expand_sx = 4000
	// target_expand_dx: bp to expand on the right of the target
	target_expand_dx = 4000	
	// filter_min: minimum fragment length
	filter_min       = 90
	// filter_max: maximum fragment length
	filter_max       = 150
}
