// pipeline genome parameters and reference files
params {
	genome_size      = 2913022398
	genome_2bit      = "/group/sottoriva/davide.rambaldi/fragmentomics/reference/GRCh38.2bit"
	housekeeping_bed = "/group/sottoriva/davide.rambaldi/fragmentomics/datasets/Housekeeping/GeneHancer_housekeeping.bed"
    random_tss_bed   = "/group/sottoriva/davide.rambaldi/fragmentomics/datasets/Housekeeping/random_sets/*rand*.bed"
	blacklist_bed    = '/group/sottoriva/davide.rambaldi/fragmentomics/datasets/encode_mappability/ENCODE_Blacklist_V2.bed'
}
