// profiles for containers conda and singularity and modes: test, devel, large, small
// some specific config from my HOME/config also
profiles {	
	conda {
		conda.enabled = true
	}

	singularity {
		singularity.enabled = true
		singularity.envWhitelist = ['SINGULARITY_TMPDIR']
		singularity.runOptions = '-B $SINGULARITY_TMPDIR:/tmp'
        singularity.autoMounts = true
	}

    // stub run with minimal setup
    test {
		stubRun = true
		process {
			memory = 1.GB
    		cpus = 1    
		}    	
	}

    // devel local run
    devel {
        process {
			memory = 4.GB	
			cpus = 1
			executor = "local"
		}
    }
    
    // HPC run with large input bam files
    large {
        // Enable retries globally for certain exit codes
        process {
            maxErrors     = '-1'
            maxRetries    = 5
            errorStrategy = {task.exitStatus in [104,134,137,139,143,255] ? 'retry' : 'finish' }
       
			withLabel: 'local_executor' {
				executor = "local"
				memory = 8.GB
    			cpus = 1    
			}

			withLabel: 'heavy_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 16
				memory = 512.GB
				time = '12h'
			}

			withLabel: 'normal_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 2
				memory = 12.GB
				time = '3h'
			}

			withLabel: 'light_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 1
				memory = 8.GB
				time = '1h'
			}

			withLabel: 'fast_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 16
				memory = 64.GB
				time = '1h'
			}
		}        
    }

    // HPC run with small input bam files
    small {
        // Enable retries globally for certain exit codes
        process {
            maxErrors     = '-1'
            maxRetries    = 5
            errorStrategy = {task.exitStatus in [104,134,137,139,143,255] ? 'retry' : 'finish' }
       
			withLabel: 'local_executor' {
				executor = "local"
				memory = 8.GB
    			cpus = 1    
			}

			withLabel: 'heavy_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 4
				memory = 12.GB
				time = '4h'
			}

			withLabel: 'normal_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 2
				memory = 8.GB
				time = '2h'
			}

			withLabel: 'light_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 1
				memory = 4.GB
				time = '1h'
			}

			withLabel: 'fast_process' {
				executor = 'slurm'
				queue = 'cpuq'
				cpus = 16
				memory = 4.GB
				time = '30m'
			}
		}
    }
}